.navbar-brand {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 900;
}


.nav-item {
	font-weight: 900;
}

.display-3 {
	font-family: "Helvetica Neue", Helvetica;
}

.lead {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 900; 
}

.col {
	padding-left: 4em;
}

.float-left {
	float: left;
}